.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  border: none;
  border-radius: var(--border-radius-s);
  font-weight: 500;
  color: var(--color-white);
  background-color: var(--color-primary);
}

.button:hover {
  background-color: var(--color-grey-600);
}

.button:active {
  background-color: var(--color-grey-500);
}